@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
}

.building-bg {
  background-image: url("/building.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 48%;
}

@media screen and (max-width: 640px) {
  .building-bg {
    background-image: url("/building.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

img.lib-main-logo-img {
  display: flex;
  width: 370px;
  margin: 0px auto;
}

.error-body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.error-container {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.coming-soon {
  font-size: 32px;
  font-weight: bold;
  color: #ab7511;
  opacity: 0;
  animation: fadeIn 2s 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .bg-card {
  background: rgb(224, 89, 0);
  background: linear-gradient(
    145deg,
    rgba(242, 105, 53, 1) 45%,
    rgba(253, 224, 58, 1) 100%
  );
} */
.bg-card {
  background: rgb(3, 128, 153);
  background: linear-gradient(
    327deg,
    rgba(3, 128, 153, 1) 0%,
    rgba(91, 161, 181, 1) 75%
  );
}

.icon-hover-pulse {
  position: relative;
  transition: all 0.3s ease;
}

.icon-hover-pulse::after {
  content: "";
  position: absolute;
  inset: -8px;
  /* border-width: 2px; */
  border-color: rgb(91, 161, 181);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(91, 161, 181, 0.8),
    /* Outer glow */ 0 0 200px rgba(91, 161, 181, 1),
    /* Strong middle glow */ 0 0 30px rgba(91, 161, 181, 0.6),
    /* Far glow */ inset 0 0 10px rgba(91, 161, 181, 0.8); /* Inner glow */
}

.icon-hover-pulse:hover::after {
  animation: pulseGlow 2s infinite;
}

@keyframes pulseGlow {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
